@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* My new Style */
@layer base {
  @font-face {
    font-family: 'Roboto-Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto_Slab) format('wght');
  }

  @font-face {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Inter) format('wght');
  }

  @font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Inter) format('wght');
  }

  @font-face {
    font-family: 'Inter-Semibold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fonts/Inter) format('wght');
  }
}

body,
h3 {
  font-family: 'Inter-Regular', sans-serif;
}

h1 {
  font-family: 'Inter-Semibold', sans-serif;
}

h2 {
  font-family: 'Inter-Medium', sans-serif;
  letter-spacing: 0.025em;
  font-size: 1.25rem;
}

.font-roboto {
  font-family: 'Roboto-Slab', serif;
}

@layer components {
  .main-app {
    @apply w-full h-auto
  }

  .hero-panel {
    @apply w-full h-[30rem] py-10
  }

  .body-panel {
    @apply w-full h-auto
  }

  .text-gradient {
    @apply bg-gradient-to-r from-orange-color from-20% to-magenta-color to-80% bg-clip-text text-transparent
  }
}

.navbar-custom-dashed-border {
  border-bottom: 1px dashed rgb(219, 74, 22);
  border-image: repeating-linear-gradient(to right, #D45B2B 0%, #D45B2B 6px, transparent 0px, transparent 15px, black 0px, black 6px, transparent 0px, transparent 8px) 1 stretch;
}